<template>
  <button
    class="px-5 py-3 font-medium text-white rounded bg-brand-blue-1 hover:shadow-blue"
  >
    Sign in
  </button>
</template>

<script>
export default {
  name: "ActionButton",
};
</script>
