<template>
  <img :src="imageLink" class="w-8 h-8 object-contain rounded-3xl" />
</template>

<script>
export default {
  name: "ProfileImage",
  data() {
    return {
      imageLink:
        "https://kein.tropfenderkessel.de/index.php/s/3wWAgHy2p6wtdMJ/preview",
    };
  },
};
</script>
