<template>
  <!-- kebab case will be equivalent like camel case syntax -->
  <main-nav />
</template>

<script>
import MainNav from "@/components/MainNav.vue";

export default {
  name: "App",
  components: {
    MainNav,
  },
};
</script>
